/* body {
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 50px;
    text-align: center;
}

p1 {
    font-size: x-large;
    text-align: center;
}

p2 {
    font-size: large;
}

.center {
    text-align: center;
}

.topnav-right {
    float: right;
}
*/

 /* @media (prefers-color-scheme: dark) { */
    
    body {
        background: #6c29e7;
        color: white;

    }

    .center, h1{
        text-align: center;
        font-family: "Lucida Console", "Courier New", monospace;
    } 

    a {
        color: white !important;
    }

    .navbar-default {
        background: #28043b;
        border-color: #4c4c4d;
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;

    }

    .submit-dark {
        color: black !important;
    }

    .reg-dark {
        color: #337ab7 !important;
    }

