body {
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 50px;
    text-align: center;
}

p1 {
    font-size: x-large;
    text-align: center;
}

p2 {
    font-size: large;
}

.center {
    text-align: center;
}

.topnav-right {
    float: right;
}

.game-row {
    text-align: center;
}

.game-tile {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
}

.game-tile:hover {
    border: solid 1px black;
}

.correct {
    background-color: blue;
}

.incorrect {
    background-color: red;
}

.hidden-tile {
    background-color: lightgrey;
}

.game-tile.tileClicked:hover {
    border: none;
}

head,body{
    text-align: center;
}

.empty{
    background-color: lightgrey;    
}

.answer{
    background-color: aqua;
}

.wrong{
    background-color: red;
}

.reveal{
    background-color: limegreen;
}

span{
    display: inline-block;
    padding: 2.5%;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 2px solid black;
}


/* dark theme */
/* @media (prefers-color-scheme: dark) {
    body {
        background: #212121;
        color: white;
    
    }

    a {
        color: white !important;
    }

    .navbar-default {
        background: #212121;
        border-color: #4c4c4d;
        color: white
    }

    .submit-dark {
        color: black !important;
    }

    .reg-dark {
        color: #337ab7 !important;
    }

  } */


