 /* body {
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 50px;
    text-align: center;
}

p1 {
    font-size: x-large;
    text-align: center;
}

p2 {
    font-size: large;
} */

.center {
    text-align: center;
}

/* .topnav-right {
    float: right;
} */


.game-row {
    text-align: center;
}

.game-tile {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
}

.game-tile:hover {
    border: solid 1px black;
}

.correct {
    background-color: blue;
}

.incorrect {
    background-color: red;
}

.hidden-tile {
    background-color: lightgrey;
}

.game-tile.tileClicked:hover {
    border: none;
}

head,body{
    text-align: center;
}

.empty{
    background-color: lightgrey;    
}

.answer{
    background-color: aqua;
}

.wrong{
    background-color: red;
}

.reveal{
    background-color: limegreen;
}

span{
    display: inline-block;
    padding: 2.5%;
    height: 130px;
    width: 130px;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 2.5px solid black;
}

#button01, #button02 {
    width: 25%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: lightgrey;
  
    
}



/* dark theme */
/* @media (prefers-color-scheme: dark) {
=======
 /* @media (prefers-color-scheme: dark) { */
    body {
        /* background: #6c29e7; */
        background: #2d394d;
        /* color: white; */
        color: lightgrey;
        

    }

    .center, h1{
        text-align: center;
        /* font-family: "Lucida Console", "Courier New", monospace; */
        font-family: 'Source Code Pro', monospace;
    } 

    a {
        /* color: white !important; */
        color: lightgrey !important;
    }

    .navbar-default {
        background: #2d394d;
        /* background: #ff7a90; */
        /* background: #4a768d; */
        /* border-color: #4c4c4d; */
        border-color: #2d394d;
        /* color: white; */
        /* color: lightgrey; */

        font-family: 'Source Code Pro', monospace;
        /* font-family: "Lucida Console", "Courier New", monospace; */

    }

    .submit-dark {
        color: black !important;
    }

    .reg-dark {
        color: #337ab7 !important;
    }

/* TABLE STYLING */
table {
    border-collapse: separate;
   
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
th, td {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    padding: 15px;
    text-align: center;
    margin: none;
}

th {
    border-top: none;
    font-weight: bold;
    background-color: rgba(15, 34, 101, 0.359);
}

.clickable {
    cursor: pointer;
    background-color:purple;
}

/* Modal Things */
h4{
    color: black;
    font-size: 40px;
}

#tdyDate{
    float:left;
}
.resultsArea {
    color: black;
    text-align: center;
    width: 33%;
    float:left;
    padding: 1%;
    height: 30%
}

#resultsArea2{
    font-style: italic;
}

.modal-body:after {
    content: "";
    display: table;
    clear: both;
}
.summaryRes {
    color: black;
}