{% extends "base.html" %}

{% block content %}
<body>
    <script src = "{{ url_for('static', filename='js/admin.js') }}"></script>
    <h1>Admin</h1>
    <form action = "/update_puzzle", methods = "post">
        <button id = 'addData' type = 'button' type ='submit' onclick ='insertPattern()'> Add Row </button> 
    </form>  
      <table >
        <thead>
            <tr>
                <th> Row </th>
                <th> Pattern 01 </th>
                <th> Pattern 02 </th>
                <th> Pattern 03 </th>
                <th> Date </th>
                <th> Edit Date </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for puzzle in puzzles %} 
                <tr>
                    <td> {{ puzzle.id }} </td>
                    <td> {{ puzzle.puzzle01 }} </td>
                    <td> {{ puzzle.puzzle02 }} </td>
                    <td> {{ puzzle.puzzle03 }}</td>
                    <td> {{ puzzle.date}} </td>
                    <td> 
                        <input type = 'text'>
                        <button>Submit</button>
                    </td>
                    <td> <button> Delete Row </button></td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
</body>
{% endblock %}