{% extends "base.html" %}

{% block content %}
<h1>Prototype</h1>
<br>
    <body>
        <script src = "{{ url_for('static', filename='js/game.js') }}"></script>
    </body>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Statistics</h4>
                </div>
                <div class="modal-body">
                    <p>Loremipsum</p>
                </div>
                <div class="modal-footer">
                    <button onclick = "copyRes()" class ="btn btn-default"> Share</button>  
                 </div>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}