{% extends "base.html"%}

{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memory Flash</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <h1><strong>Memory Flash</strong></h1>
    <div class = "center">
        <p1>Welcome to Memory Flash!  </p1> <br>

        <p2>The memory game to improve and test concentration.</p2><br><br>

        <h2>How To Play</h2>
        
        <ul>
            <li>Click the play button and remember the coloured tiles in 1 second.</li>
            <li>Click on all the tiles that were coloured in navy.</li>
            <li>Be careful as you will lose points for incorrect tiles!</li>
            <li>After finding all the correct tiles or 6 incorrect tiles, you will get a score for the round. </li>
            <li>Play 2 more times to receive a final score. </li>
            <li>Aim for the highest score possible and challenge your friends daily!</li> 
        </ul>
    </div>
</html>
{% endblock %}