{% extends "base.html"%}

{% block content %} 
    <h1><strong>Memory Flash</strong></h1>

    <div class = "center">
        <p1>Welcome to Memory Flash!  </p1> <br>

        <p2>The memory game to improve and test concentration.</p2>
        <p> In ancient times, the ability to memorise was a prized skill. According to Northwestern University psychology professor Paul Reber, our brains can store up to 2.5 petabytes of data. That’s the same as three million hours of TV shows! Having a good memory has been proven to boost brain health, problem solving abilities, reading comprehension and focus. Memory strength is just like muscular strength, so the more you use it, the stronger you’ll get. Playing this game is a great way to strengthen your brain’s memory capacity. It’s time to take control of your memory, start absorbing all the information that comes to you, and always have it at your fingertips!</p>

        <h2>How To Play</h2>
        
        <ul>
            <li>Click the play button and remember the coloured tiles in 1 second.</li>
            <li>Click on all the tiles that were coloured in navy.</li>
            <li>Be careful as you will lose points for incorrect tiles!</li>
            <li>After finding all the correct tiles or 6 incorrect tiles, you will get a score for the round. </li>
            <li>Play 2 more times to receive a final score. </li>
            <li>Aim for the highest score possible and challenge your friends daily!</li> 
        </ul>
    </div>
{% endblock %}