{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memory Flash</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Leaderboard</h1>
    <!-- LEADERBOARD TABLE -->
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th> USERNAME </th>
                <th> DATE </th>
                <th> SCORE </th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %} 
                <tr>
                    <td> {{ score.user.username }} </td>
                    <td> {{ score.date }} </td>
                    <td> {{ score.user_score }}</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
</html>
{% endblock %}

<!-- TODO: HIGHLIGHT PROFILE USERS SCORES -->
<!-- ORDER HIGHEST-LOWEST JQUERY-->


