{% extends "base.html" %}

{% block content %}


<h1>Leaderboard</h1>
   
    <p> TESTING FOR LOGGED IN ID HERE: {{ current_user.username }} </p>
    <!-- LEADERBOARD TABLE -->
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th> USERNAME </th>
                <th> DATE </th>
                <th> SCORE </th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %} 
                <tr class = "initial" id="myusername"
                        onmouseover="this.className='highlight'", 
                        onmouseout="this.className='normal'" >
                    <td> {{ score.user.username }} </td>
                    <td> {{ score.date }} </td>
                    <td> {{ score.user_score }}</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
    


{% endblock %}

<!-- TODO: HIGHLIGHT PROFILE USERS SCORES -->
<!-- ORDER HIGHEST-LOWEST JQUERY-->


