{% extends "base.html" %}

{% block content %}
<div class = "container">
        <h1>Login</h1>
        {% if error %}
            <p class=error id="myError"> Error: {{ error }} </p>
        {% endif %}
        <form action = "" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p class="submit-dark">
                {{ form.submit() }}
            </p>
        </form>
        <p>New User? <a class="reg-dark" href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
{% endblock %}