{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block app_content %}
    <h1>Register</h1>
        <div class="row">
            <div class="col-md-4 col-lg-offset-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
</html>
{% endblock %}