{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.username }}'s scores! </h1>



   <!--TODO: IF NO SCORES YET, LINK TO GAME-->
   <table class="tablesorter"> 
    <thead>
        <tr>
            <th> DATE </th>
            <th> SCORE </th>
        </tr>
    </thead> 
    <tbody>
        {% for user in user %} 
            <tr class = "initial" 
            onmouseover="this.className='highlight'", 
            onmouseout="this.className='normal'" >
                <td> {{ user.date }} </td>
                <td> {{ user.user_score }} </td>
            </tr>
        {% endfor %} 
    </tbody>
</table>
</body>
{% endblock %} 
