{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.username }}'s scores! </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <strong>ID:</strong> 
                {{ current_user.id }} <br>
                <strong>Email:</strong>
                {{ current_user.email }} <br>
            </div>
        </div>
    </div>

   <table id="myTable" class="tablesorter"> 
    <thead>
        <tr>
            <th> DATE </th>
            <th> SCORE </th>
        </tr>
    </thead> 
    <tbody>
        {% for user in user %} 
            <tr>
                <td> {{ user.date }} </td>
                <td> {{ user.user_score }} </td>
            </tr>
        {% endfor %} 
    </tbody>
</table>
</body>
{% endblock %} 
